In [ ]:
import pandas as pd
import numpy as np

In [107]:
df = pd.read_csv('data/ene_mo18.csv', delimiter=';')
df.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
0,28,79,4,1,28079004_1_38,2018,1,1,1.0,V,...,2.0,V,1.0,V,1.0,V,1.0,V,1.0,V
1,28,79,4,1,28079004_1_38,2018,1,2,1.0,V,...,1.0,V,1.0,V,1.0,V,2.0,V,2.0,V
2,28,79,4,1,28079004_1_38,2018,1,3,1.0,V,...,2.0,V,2.0,V,2.0,V,3.0,V,2.0,V
3,28,79,4,1,28079004_1_38,2018,1,4,2.0,V,...,2.0,V,1.0,V,1.0,V,1.0,V,1.0,V
4,28,79,4,1,28079004_1_38,2018,1,5,1.0,V,...,2.0,V,2.0,V,2.0,V,1.0,V,2.0,V

In [108]:
nitrogen_dioxide = df['MAGNITUD'] == 8
df = df[nitrogen_dioxide]
df.tail()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
4571,28,79,60,8,28079060_8_8,2018,1,27,10.0,V,...,15.0,V,20.0,V,23.0,V,17.0,V,19.0,V
4572,28,79,60,8,28079060_8_8,2018,1,28,17.0,V,...,30.0,V,31.0,V,17.0,V,20.0,V,20.0,V
4573,28,79,60,8,28079060_8_8,2018,1,29,24.0,V,...,89.0,V,102.0,V,113.0,V,98.0,V,85.0,V
4574,28,79,60,8,28079060_8_8,2018,1,30,81.0,V,...,93.0,V,92.0,V,91.0,V,88.0,V,73.0,V
4575,28,79,60,8,28079060_8_8,2018,1,31,63.0,V,...,122.0,V,146.0,V,144.0,V,134.0,V,96.0,V

In [109]:
# Super ugly :S
# Calculate de mean using just V values. lamda will be great.
for index, row in df.iterrows():
    mean_values = []
    for i in range(1, 25):
        if row['V'+str(i).zfill(2) ] == 'V':
            df.loc[index, 'MEDIA'] = float("NaN")

In [124]:
cols = [c for c in df.columns if c[0] == 'V']
df = df.drop(labels=cols, axis=1)
df['MEDIA'] = df.loc[: , "H01":].mean(axis=1)
df['MEDIA_MADRUGADA'] = df.loc[: , "H01":"H08"].mean(axis=1)
df['MEDIA_MAÑANA'] = df.loc[: , "H08":"H16"].mean(axis=1)
df['MEDIA_TARDE'] = df.loc[: , "H16":"H24"].mean(axis=1)
df.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,H02,...,H19,H20,H21,H22,H23,H24,MEDIA,MEDIA_MADRUGADA,MEDIA_MAÑANA,MEDIA_TARDE
93,28,79,4,8,28079004_8_8,2018,1,1,15.0,35.0,...,32.0,39.0,35.0,27.0,23.0,11.0,21.375000,17.750,20.111111,24.000000
94,28,79,4,8,28079004_8_8,2018,1,2,13.0,17.0,...,34.0,38.0,41.0,47.0,55.0,47.0,29.166665,9.375,35.111111,40.888889
95,28,79,4,8,28079004_8_8,2018,1,3,35.0,17.0,...,49.0,53.0,47.0,51.0,56.0,41.0,35.416666,22.125,38.000000,45.222222
96,28,79,4,8,28079004_8_8,2018,1,4,35.0,34.0,...,35.0,42.0,36.0,35.0,34.0,28.0,26.375001,17.000,28.333333,31.333333
97,28,79,4,8,28079004_8_8,2018,1,5,24.0,17.0,...,51.0,53.0,54.0,52.0,46.0,44.0,32.083332,14.750,34.111111,45.000000

In [126]:
'''
Como los datos de contaminación no son muy numerosos la mejor forma de guardarlos sería en una base de datos relacional,
de esta manera, si se permite el acceso, cualquier miembro del equipo podría acceder a ellos de manera remota. Por otro lado
como los datos no son muy numerosos, tras tratarlos guardaría estos en ficheros como backup. En caso que la base de datos
se corrompa.
'''

'\nComo los datos de contaminación no son muy numerosos la mejor forma de guardarlos sería en una base de datos relacional,\nde esta manera, si se permite el acceso, cualquier miembro del equipo podría acceder a ellos de manera remota. Por otro lado\ncomo los datos no son muy numerosos, tras tratarlos guardaría estos en ficheros como backup. En caso que la base de datos\nse corrompa.\n'